# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
client/coverage/clover.xml
client/coverage/coverage-final.json
client/coverage/lcov.info
client/coverage/lcov-report/base.css
client/coverage/lcov-report/block-navigation.js
client/coverage/lcov-report/favicon.png
client/coverage/lcov-report/index.html
client/coverage/lcov-report/prettify.css
client/coverage/lcov-report/prettify.js
client/coverage/lcov-report/sort-arrow-sprite.png
client/coverage/lcov-report/sorter.js
client/coverage/lcov-report/assets/fonts/index.html
client/coverage/lcov-report/assets/fonts/SpaceMono-Regular.ttf.html
client/coverage/lcov-report/assets/images/account.png.html
client/coverage/lcov-report/assets/images/appearance.png.html
client/coverage/lcov-report/assets/images/arrowLeft.png.html
client/coverage/lcov-report/assets/images/arrowRight.png.html
client/coverage/lcov-report/assets/images/index.html
client/coverage/lcov-report/assets/images/notifications.png.html
client/coverage/lcov-report/src/app/_layout.tsx.html
client/coverage/lcov-report/src/app/+not-found.tsx.html
client/coverage/lcov-report/src/app/index.html
client/coverage/lcov-report/src/app/index.tsx.html
client/coverage/lcov-report/src/app/NotificationsHandler.js.html
client/coverage/lcov-report/src/app/(auth)/_layout.tsx.html
client/coverage/lcov-report/src/app/(auth)/index.html
client/coverage/lcov-report/src/app/(auth)/login.tsx.html
client/coverage/lcov-report/src/app/(auth)/signup.tsx.html
client/coverage/lcov-report/src/app/(protected)/account.tsx.html
client/coverage/lcov-report/src/app/(protected)/index.html
client/coverage/lcov-report/src/app/(protected)/(tabs)/_layout.tsx.html
client/coverage/lcov-report/src/app/(protected)/(tabs)/calendar.tsx.html
client/coverage/lcov-report/src/app/(protected)/(tabs)/habits.tsx.html
client/coverage/lcov-report/src/app/(protected)/(tabs)/index.html
client/coverage/lcov-report/src/app/(protected)/(tabs)/settings.tsx.html
client/coverage/lcov-report/src/components/AuthContext.tsx.html
client/coverage/lcov-report/src/components/BuildHabitGraph.tsx.html
client/coverage/lcov-report/src/components/CircleProgress.tsx.html
client/coverage/lcov-report/src/components/HabitPanel.tsx.html
client/coverage/lcov-report/src/components/HabitTypeSlider.tsx.html
client/coverage/lcov-report/src/components/HapticTab.tsx.html
client/coverage/lcov-report/src/components/index.html
client/coverage/lcov-report/src/components/MonthlyCalendar.tsx.html
client/coverage/lcov-report/src/components/NewHabitModal.tsx.html
client/coverage/lcov-report/src/components/ProgressEntry.tsx.html
client/coverage/lcov-report/src/components/QuitHabitGraph.tsx.html
client/coverage/lcov-report/src/components/StatsBox.tsx.html
client/coverage/lcov-report/src/components/ThemedText.tsx.html
client/coverage/lcov-report/src/components/WeeklyCalendar.tsx.html
client/coverage/lcov-report/src/components/styles/AccountPageStyles.ts.html
client/coverage/lcov-report/src/components/styles/AuthStyles.ts.html
client/coverage/lcov-report/src/components/styles/BuildHabitGraphStyles.ts.html
client/coverage/lcov-report/src/components/styles/CalendarPageStyles.ts.html
client/coverage/lcov-report/src/components/styles/CircleProgressStyles.ts.html
client/coverage/lcov-report/src/components/styles/Colors.ts.html
client/coverage/lcov-report/src/components/styles/HabitModalStyles.ts.html
client/coverage/lcov-report/src/components/styles/HabitPageStyles.ts.html
client/coverage/lcov-report/src/components/styles/HabitPanelStyles.ts.html
client/coverage/lcov-report/src/components/styles/index.html
client/coverage/lcov-report/src/components/styles/NotFoundPageStyles.ts.html
client/coverage/lcov-report/src/components/styles/ProgressEntryStyles.ts.html
client/coverage/lcov-report/src/components/styles/QuitHabitGraphStyles.ts.html
client/coverage/lcov-report/src/components/styles/SettingsPageStyles.ts.html
client/coverage/lcov-report/src/components/styles/SharedStyles.ts.html
client/coverage/lcov-report/src/components/styles/ThemedTextStyles.ts.html
client/coverage/lcov-report/src/components/styles/WeekCalendarStyles.ts.html
client/coverage/lcov-report/src/components/ui/IconSymbol.ios.tsx.html
client/coverage/lcov-report/src/components/ui/index.html
client/coverage/lcov-report/src/components/ui/TabBarBackground.ios.tsx.html
client/coverage/lcov-report/src/hooks/index.html
client/coverage/lcov-report/src/hooks/useColorScheme.ts.html
client/coverage/lcov-report/src/hooks/useThemeColor.ts.html
client/coverage/lcov-report/src/lib/client.ts.html
client/coverage/lcov-report/src/lib/index.html
client/coverage/lcov-report/src/utils/dateUtils.tsx.html
client/coverage/lcov-report/src/utils/index.html
